<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Crear Usuario</title>
  </head>

  <body>

    <div class = "Header">
      <h1>Crear Usuario</h1>
    </div>

    <div class = "main_body">
      <form action="/usuario/agregar" method="post">

	<label for="nombre">Ingrese su nombre:</label>
	<input type="text" id="nombre" name="nombre" required>
	<br>

	<label for="apPat">Ingrese su apellido paterno:</label>
	<input type="text" id="apPat" name="apPat" required>
	<br>

	<label for="apMat">Ingrese su apellido materno:</label>
	<input type="text" id="apMat" name="apMat">
	<br>	

	<label for="password">Ingrese su constraseña:</label>
	<input type="password" id="password" name="password" required>
	<br>

	<label for="email">Ingrese su email:</label>
	<input type="email" id="email" name="email" required>
	<br>
	
	<label for="superUser">Es Super Usuario:</label>
	<input type="checkbox" id="superUser" name="superUser">
	<br>

	<input type="submit" value="Agregar Usuario">
      </form>

      {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endif %}
      
    </div>

  </body>
</html>
