<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CLONEBUSTER</title>
  </head>

  <body>

    <div class = "Header">
      <h1>Indice</h1>
    </div>
    
    <div class = "main_body">

      <div class = "">
	<a href="/usuario">Consulta Usuarios</a>
	<a href="/usuario/agregar">Crea Usuario</a>
	<a href="/usuario/modificar">Modifica Usuario</a>
	<a href="/usuario/eliminar">Elimina Usuario</a>
      </div>

      <div class = "">
	<a href="/pelicula/">Consulta Peliculas</a>
	<a href="/pelicula/agregar">Crea Pelicula</a>
	<a href="/pelicula/modificar">Modifica Pelicula</a>
	<a href="/pelicula/eliminar">Elimina Pelicula</a>
      </div>

      <div class = "">
	<a href="/renta">Consulta Rentas</a>
	<a href="/renta/agregar">Crea Renta</a>
	<a href="/renta/modificar">Modifica Renta</a>
      </div>

    </div>

  </body>
</html>
