<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CLONEBUSTER</title>
    <link rel="stylesheet" href="/assets/templates/estilos.css">
  </head>

  <body>

    <div class = "Header">
      <h1>Indice</h1>
    </div>
    
    <div class = "main_body">

      <div class = "">
	<a href="//">Consulta Usuarios</a>
	<a href="//">Crea Usuario</a>
	<a href="//">Modifica Usuario</a>
	<a href="//">Elimina Usuario</a>
      </div>

      <div class = "">
	<a href="//">Consulta Peliculas</a>
	<a href="//">Crea Pelicula</a>
	<a href="//">Modifica Pelicula</a>
	<a href="//">Elimina Pelicula</a>
      </div>

      <div class = "">
	<a href="//">Consulta Rentas</a>
	<a href="//">Crea Renta</a>
	<a href="//">Modifica Renta</a>
      </div>

    </div>

  </body>
</html>
