<!DOCTYPE html>
<html lang="en-US">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ingresa Id Usuario</title>
    <link rel="stylesheet" href="/assets/templates/estilos.css">
  </head>

  <body>

    <div class = "Header">
      <h1>Ingresa Id Usuario</h1>
    </div>

    <div class = "main_body">
      <form action="" method="post">

	<label for="idUsuario">Ingrese el Id del Usuario:</label>
	<input type="text" name="idUsuario" id="idUsuario" required>
	<br>

	<button type="submit">Enviar</button>
      </form>

      {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endIf %}
      
    </div>

  </body>
</html>
