<!DOCTYPE html>
<html lang="en-US">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ingresa Id Usuario</title>
  </head>

  <body>

    <div class = "Header">
      <h1>Ingresa Id Usuario</h1>
    </div>

    <div class = "main_body">
      <form action="" method="POST">

	<label for="idUsuario">Ingrese el Id del Usuario:</label>
	<input type="text" id="idUsuario" name="idUsuario" required>
	<br>

	<input type="submit" value="Enviar">
      </form>

      {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endif %}
      
    </div>

  </body>
</html>
