<!DOCTYPE html>
<html lang="en-US">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Modificar Usuario</title>
  </head>

  <body>

    <div class = "Header">
      <h1>Modificar Usuario</h1>
    </div>

    <div class = "main_body">
      <form action="/usuario/modificar" method="POST">

	<label for="nombre">Ingrese su nombre:</label>
	<input type="text" name="nombre" id="nombre" required>
	<br>

	<label for="apPat">Ingrese su apellido paterno:</label>
	<input type="text" name="apPat" id="apPat"  required>
	<br>

	<label for="apMat">Ingrese su apellido materno:</label>
	<input type="text" name="apMat" id="apMat" required>
	<br>	

	<label for="password">Ingrese su constraseña:</label>
	<input type="text" name="password" id="password"  required>
	<br>

	<label for="email">Ingrese su email:</label>
	<input type="text" name="email" id="email"required>
	<br>
	
	<label for="superUser">Es Super Usuario:</label>
	<input type="checkbox" id="superUser" name="superUser" {% if usuario.superUser==1 %} checked {% endif %} required>
	<br>

	<button type="sumbit">Modificar Usuario</button>
      </form>

      {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endif %}
      
    </div>

  </body>
</html>
