<!DOCTYPE html>
<html lang="en-US">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Modificar Pelicula</title>
  </head>

  <body>

    <div class = "Header">
      <h1>Modificar Pelicula</h1>
    </div>

    <div class = "main_body">
      <form action="" method="post">

	<label for="nombre">Ingrese su nombre:</label>
	<input type="text"  id="nombre" name="nombre" required>
	<br>

	<label for="genero">Genero:</label>
	<input type="text" id="genero" name="genero"  required>
	<br>

	<label for="duracion">Ingrese la duracion:</label>
	<input type="number" id="duracion" name="duracion" required>
	<br>	

	<label for="inventario">Ingrese las copias existentes en el inventario:</label>
	<input type="number" name="inventario" id="inventario"  required>
	<br>

	<input type="submit" value="Modificar Pelicula">
      </form>

      {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endif %}
      
    </div>

  </body>
</html>
