<!DOCTYPE html>
<html lang="en-US">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Modificar Renta</title>
  </head>

  <body>

    <div class = "Header">
      <h1>Modificar Renta</h1>
    </div>

    <div class = "main_body">
      <form action="/renta/modificar" method="post">

	<label for="estatus">Ha sido devuelta la renta:</label>
	<input type="checkbox" id="estatus" name="estatus" {% if renta.estatus==1 %} checked {% endif %} required>
	<br>

	<button type="sumbit">Modificar Renta</button>
      </form>

      {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endif %}
      
    </div>

  </body>
</html>
